html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    list-style-type: none;
    font-size: 24px;
}

.container {
    display: flex;
    padding-left: 2em;
    justify-content: space-between;
    padding-right: 2em;
}


.lotto-container {
    height: 16vh;
    background-color: #e5013b;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}



.euromillions-container {
    height: 16.25vh;
    background-color: #ff8000;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.setforlife-container {
    height: 16.25vh;
    background-color: #00d6da;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.thunderball-container {
    height: 16.25vh;
    background-color: #bc13ad;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.lottoHP-container {
    height: 16.5vh;
    background-color: #cc0034;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.euroHP-container {
    height: 16.2vh;
    background-color: #d8460b;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.btn-container {
    display: flex;
    gap: 1rem;
    margin-left: 15%;
}


.btn-settings{
font-weight: 500;
font-size: 18px;
color: #000000;
padding: 10px 30px;
border: solid #000000 2px;
box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
border-radius: 0px 50px;
transition : 526ms;
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
}

.btn-settings:hover{
transition : 526ms;
padding: 10px 50px;
color: #000000;
border: solid 2px #000000;
}

.lotto-btn {
    background-color: #e5013b;
}

.em-btn{
    background-color: #ff8000;
}

.s4l-btn{
    background-color: #00d6da;
}

.tb-btn {
    background-color: #bc13ad;
}

.hp-settings{
font-weight: 500;
font-size: 18px;
color: #000000;
padding: 10px 20px;
border: solid #000000 2px;
box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
border-radius: 10px;
transition : 255ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
}

.hp-settings:hover{
transition : 255ms;
padding: 10px 22px;
transform : translateY(-16px);
color: #000000;
border: solid 2px #000000;
}

.hpnum {
    background-color: #cc0034;
}

.emhpnum {
    background-color: #d8460b;
}


@media (max-width: 600px) {
    html,
    body {
        height: 100%;
        overflow: auto;
        margin: 0;
    }

    .lotto-container > h1,
    .thunderball-container > h1,
    .setforlife-container > h1,
    .euromillions-container > h1,
    .euroHP-container > h1,
    .lottoHP-container > h1 {
        margin-left: 0;
    }

    .lotto-container,
    .thunderball-container,
    .setforlife-container,
    .euromillions-container,
    .euroHP-container,
    .lottoHP-container {
        height: 30vh;
        padding-left: 1em;
        padding-bottom: 1em;
    }

    .hp-container {
        padding: 0;
    }

    .btn-container {
        margin-left: 0;
        padding-top: 2em;
    }

    .container {
        flex-direction: column;
        padding: 0;
    }

    .btn-settings{
        margin-top: 2em;
        padding: 10px 10px;
        border-radius: 5px;
        display: block;
        width: 10em;
        transition : 526ms;
    }

    .btn-settings:hover{
        transition : 526ms;
        width: 12em;
        }

}



@media (min-width: 600px) and (max-width: 700px){
    html,
    body {
        height: 100%;
        overflow: auto;
        margin: 0;
    }

    .lotto-container > h1,
    .thunderball-container > h1,
    .setforlife-container > h1,
    .euromillions-container > h1,
    .euroHP-container > h1,
    .lottoHP-container > h1 {
        margin-left: 0;
    }

    .lotto-container,
    .thunderball-container,
    .setforlife-container,
    .euromillions-container,
    .euroHP-container,
    .lottoHP-container {
        height: 25vh;
        padding-left: 1em;
    }

    .hp-container {
        padding: 0;
    }

    .btn-container {
        margin-left: 0;
        padding-top: 2em;
    }
}

@media (min-width: 700px){
    html,
    body {
        height: 100%;
        overflow: auto;
        margin: 0;
    }

    .lotto-container > h1,
    .thunderball-container > h1,
    .setforlife-container > h1,
    .euromillions-container > h1,
    .euroHP-container > h1,
    .lottoHP-container > h1 {
        margin-left: 1em;
    }

    .lotto-container,
    .thunderball-container,
    .setforlife-container,
    .euromillions-container,
    .euroHP-container,
    .lottoHP-container {
        height: 20vh;

    }

    .hp-container {
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 2em;
        padding-left: 2em;
    }

    .btn-container {
        margin-left: 0;
    }
}